.App {
  font-size: 15px;
  margin-top: 0;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

header{
  display:flex;
  width: 1440px;
  margin-left: 15%;
  padding: 65px 100px 65px 100px;
}

header > img{
  margin-left: 100px;
}

nav{
  margin-top: 10px;
}

li {
   display: inline;
   list-style-type: none;
}

a{
  margin-left:60px;
  text-decoration: none;
  font-size: 0.8rem;
  color: black;
}

#hero-section{
  height: 520px;
  width: 1440px;
  background-color: gray;
}

#highlight-section{
  height:690px;
  width: 1440px;
}

#testimonial-section{
  height:560px;
  width: 1440px;
  background-color: gray;
}

#about-section{
  height:560px;
  width: 1440px;
}

footer{
  height:445px;
  width: 1440px;
  background-color: gray;
}
